<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>FFF</string>
		<key>name</key>
		<string>Pure Fire</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FFW</string>
		<key>name</key>
		<string>Steam</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FFN</string>
		<key>name</key>
		<string>Volcano</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FFL</string>
		<key>name</key>
		<string>Heat-Wave</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DFF</string>
		<key>name</key>
		<string>Burning-Ashes</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FWW</string>
		<key>name</key>
		<string>Boiling</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FNW</string>
		<key>name</key>
		<string>Stone</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FLW</string>
		<key>name</key>
		<string>Flame Thrower</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DFW</string>
		<key>name</key>
		<string>Oil</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FNN</string>
		<key>name</key>
		<string>Lava</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FNL</string>
		<key>name</key>
		<string>Radiation</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DFN</string>
		<key>name</key>
		<string>Bomb</string>
	</dict>
	<dict>
		<key>code</key>
		<string>FLL</string>
		<key>name</key>
		<string>Lazer</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DFL</string>
		<key>name</key>
		<string>Fork-Lightning</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DDF</string>
		<key>name</key>
		<string>Hell-Fire</string>
	</dict>
	<dict>
		<key>code</key>
		<string>WWW</string>
		<key>name</key>
		<string>Pure Water</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LWW</string>
		<key>name</key>
		<string>Hail</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DWW</string>
		<key>name</key>
		<string>Tsunami</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NNW</string>
		<key>name</key>
		<string>Mud</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LNW</string>
		<key>name</key>
		<string>Wishing Well</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DNW</string>
		<key>name</key>
		<string>Acid</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LLW</string>
		<key>name</key>
		<string>Freezing Field</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DLW</string>
		<key>name</key>
		<string>Static Field</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DDW</string>
		<key>name</key>
		<string>Hydro Cannon</string>
	</dict>
	<dict>
		<key>code</key>
		<string>NNN</string>
		<key>name</key>
		<string>Pure Nature</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LNN</string>
		<key>name</key>
		<string>Moonlight</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DNN</string>
		<key>name</key>
		<string>Decay</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DLN</string>
		<key>name</key>
		<string>Thunder</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DDN</string>
		<key>name</key>
		<string>Reaper</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LLN</string>
		<key>name</key>
		<string>Gold</string>
	</dict>
	<dict>
		<key>code</key>
		<string>LLL</string>
		<key>name</key>
		<string>Pure Light</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DLL</string>
		<key>name</key>
		<string>Holy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DDL</string>
		<key>name</key>
		<string>Evil</string>
	</dict>
	<dict>
		<key>code</key>
		<string>DDD</string>
		<key>name</key>
		<string>Pure Dark</string>
	</dict>
</array>
</plist>
